*{
    box-sizing: border-box;
}

body,html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(239, 224, 241);
}
.form_container{
   display: flex;
   align-items: center;
    width: 70%;
    height: 70vh;
    font-size: 1.3em;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    box-sizing:content-box;

}
/* .form2,.form3{
    display: none;
} */

.form_menu{
    font-size: 1.3em;
    width: 20vw;
    height: 95%;
    background-color: red;
    margin:1%;
    border-radius: 20px;
    color: white;

}
.form_menu>img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.form_menu>p{
    margin-top: 30px;
    font-size: max(20px, 2vw);/*pegao maior valor entre os 2. O vw é baseao no tamanho da tela
    , e chega um momento em que ele diminui muito, aí nesse caso o valor em pixels o supera.*/
}

h1{
    font-size:xxx-large;
    font-weight: bold;
    margin-bottom: 1%;
}

.form1,.form2,.form3,.form4{
    font-size: max(20px,1.2vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
}
form>input{
    width: 60%;
    height: 5%;
    border: none;
    border-bottom: 1px solid;
    font-size: 25px;
}

.container_btn{
    display: flex;
    justify-content: end;
    width: 100%;
}

button:hover{
    cursor: pointer;
    background-color:  rgb(239, 224, 241);
    transition: all 0.6s;
    font-size: 0.8em;
}
.container_btn>button{
    margin:5% 5% 0 0;
    list-style: none;
    width: max(100px,2vw);
    height: max(50px,6vh);
    
}
input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-bottom: 1px solid black;
    outline: 0;
} 