* {
    box-sizing: border-box;
}

body,
html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(239, 224, 241);
    min-height: 100vh;
}

h1 {
    font-size: xxx-large;
    font-weight: bold;
    margin-bottom: 1%;
}

.form_container {
    display: flex;
    align-items: center;
    width: 45%;
    height: 60%;
    font-size: 1.3em;
    background-color: white;
    background-image: url("../images/main_background_media-XL.jpg");
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 15px rgba(77, 77, 77, .8);
    margin: 0 auto;
}

.section_menu {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 95%;
    margin: 0 0 0 1%;
    border: 2px solid white;
    border-left: none;
    border-radius: 20px;
    color: rgba(208, 208, 208, 0.696);
    justify-content: space-evenly;
}

.section_menu>p {
    position: relative;
    margin-top: 2%;
    font-size: max(20px, 1.5vw);
    /*pegao maior valor entre os 2. O vw é baseao no tamanho da tela
    , e chega um momento em que ele diminui muito, aí nesse caso o valor em pixels o supera.*/
}

.section_menu>p:hover {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    margin-left: 10%;
}

.section {
    display: none;
}

.sectionVisible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

section>input[type="text"],
section>input[type="number"],
section>input[type="email"],
section>input[type="tel"] {
    width: 80%;
    font-size: max(15px, 1vw);
    border: none;
    border-bottom: 1px solid;
}

form>:nth-child(3) {
    width: 100%;
}

form>section>label {
    color: white;
    -webkit-text-stroke: .5px #000;
    font-size: max(17px, 1.1vw);
    font-weight: bold;
    font-family: sans-serif;
}

form>:nth-child(3)>label {
    color: white;
    font-size: max(20px, 1.2vw);
    font-weight: bold;
    font-style: italic;
}

form>:nth-child(3)>label:nth-child(1) {
    color: rgb(46, 210, 46);
}

section>input[type="checkbox"] {
    width: 100%;
    position: relative;
    bottom: 12%;
    margin-left: 35%;
}

.details {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 99999;
    top: 0rem;
    right: 0rem;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.details>img {
    animation: details .4s;
    width: 50%;
    height: 50%;
}

@keyframes details {
    from {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

#close {
    position: relative;
    font-size: 1.25em;
    bottom: 0.5%;
    background-color: rgba(255, 255, 255, 0.188);
    animation: details .4s;
}

#close:hover {
    cursor: pointer;
}

img {
    width: 60%;
    height: 20%;
    position: relative;
    margin: 0 auto;
}

.container_btn {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.container_btn>button {
    list-style: none;
    width: 100%;
    max-width: 100px;
    height: max(10px, 6vh);
    border-radius: 10px;
    border-color: red;
    background-color: white;
    margin: 10% 10% 0 0;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: rgb(239, 224, 241);
    transition: all 0.6s;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-bottom: 1px solid black;
    outline: 0;
}

#feedbackSuccess,
#feedbackError {
    display: none;
    position: fixed;
    left: 1rem;
    top: 1rem;
    right: 1rem;
    border-radius: 5px;
    font-weight: bold;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    font-size: 2em;
    transform: translateY(calc(-2rem - 100%));
    transition: transform .3s;
    height: max(80px, 1);
    animation: details .4s;
}

#feedbackSuccess {
    flex-direction: column;
    background-color: #333333;
    color: rgb(46, 210, 46);
}

#feedbackSuccess>image {
    width: max(1920px);
    height: 100%;
    margin: 0 auto;
}

#feedbackError {
    background-color: #ef9595;
    color: #652f2f;
}

#feedbackSuccess p,
#feedbackError p {
    margin: .5em auto;
}

#feedbackSuccess button,
#feedbackError button {
    background-color: transparent;
    border: none;
}

#feedbackSuccess button {
    color: #215113;
}

#feedbackError button {
    color: #652f2f;
}

#feedbackSuccess.showSuccess {
    transform: translateY(0px);
}

#feedbackError.showError {
    transform: translateY(0px);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4.5%;
    background-color: #000;
    color: white;
    position: relative;
    top: 14%;
}

@media(max-width:1300px) {
    .form_container {
        background-image: url("../images/main_background_media-L.jpg");
    }
    section>input[type="checkbox"] {
        bottom: 0%;
        margin-left: 0;
        margin: 0 auto;
    }
}

@media(max-width:870px) {
    .form_container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-image: url("../images/main_background_media-M.jpg");
        border-radius: 0;
        box-shadow: none;
    }

    .section_menu {
        flex-direction: row;
        width: 100%;
        height: 5%;
        margin: 1% auto;
        border-right:none;
        border-top: none;
        border-bottom: none;
        border-bottom: 1px solid white;
        border-radius: 0;
        justify-content: space-evenly;
    }

    .section_menu>p {
        margin-top: 0%;
    }

    form {
        margin-left: 0;
    }

    .sectionVisible {
        align-items: center;
    }

    section>input[type="text"],
    section>input[type="number"],
    section>input[type="email"],
    section>input[type="tel"] {
        width: 80%;
        border: none;
        border-bottom: 1px solid;
    }

    section>input[type="checkbox"] {
        bottom: 0%;
        margin-left: 0;
    }

    img {
        width: 100%;
        height: 15%;
    }

    .container_btn>button {
        margin: 0;
    }

    button:hover {
        background-color: white;
        transition: none;
    }
}

@media(max-width:660px) {
    .form_container {
        background-image: url("../images/main_background_media-S.jpg");
    }
    .details img{
        width: 100%;
        height: 60%;
    }
}

@media(max-width:400px) {
    .form_container {
        background-image: url("../images/main_background_media-Smaller.jpg");
    }
}